# Python
.venv/
venv/
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# Hugging Face / ML cache
.cache/
huggingface/
*.safetensors

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db